.roles-section {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px;
}

.roles-section div {
    max-width: 33%;
    padding: 25px ;
    transition: 0.3s;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.roles-section div:hover {
    box-shadow: 0 20px 28px rgba(0, 0, 0, 0.32);
  transform: translateY(-4px);
}

.roles-section img {
    width: 200px;
}

.traveler-card img {
    width:130px;
}

h2, p {
    margin-bottom: 10px;
    font-weight:bold;
    color: #282c34;
}

a > p:hover {
    color: orange;
    cursor: pointer;
}